<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>找回密码</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/changePassword.css">
    <style>
        .repeat-password,.old-password,.new-password {
    width: 300px;
    margin-left: 14px;
    border: 1px solid #e1e1e1;

    padding: 7px 0;
    height: 35px;
    color: #666;
    text-indent: 5px;
    outline: 0;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit
}

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="userCenter">
                <span class="user_icon glyphicon glyphicon-lock"><i class="fa fa-lock"
                                                                    aria-hidden="true"></i></span><span class="tit">账号安全中心</span>
            </div>

            <div class="register-progress clearfix hidden-xs hidden-sm">
                <div class="reg-orange-bar">修改密码</div>
            </div>

            <div id="userinfo">
                <form>
                    {% csrf_token %}
                    <span class="password_left_txt">原密码</span>
                    <input type="text" name="oldpassword" class="old-password"> <br><br>

                    <span class="password_left_txt">新密码</span>
                    <input type="text" name="password" class="new-password">  <br><br>


                    <span class="password_left_txt">新密码</span>
                    <input type="text" name="password" class="repeat-password">

                </form>
                <span id="error" style="color: red"></span>
                {#                    <input type="button" id="subBtn" class="btn" style="margin-left: 180px" value="提交">#}
                <button id="subBtn" class="btn" style="margin-left: 180px;margin-top: 20px">提交</button>
                <div id="goLogin" style="margin-left: 320px ">
                    <a href="/login/">>>去登录</a>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/jquery-3.2.1.min.js"></script>

<script>
    $(function () {
        function foo() {
            $("#error").html('')
        }

        $("#subBtn").click(function () {

            $.ajax({
                url: "/changePassword/",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    oldpwd: $(".old-password").val(),
                    newpwd: $(".new-password").val(),
                    repeatpwd: $(".repeat-password").val(),
                },
                success: function (data) {
                    data = JSON.parse(data);
                    if (data.flag) {
                       window.location.href="/login/"
                    } else {
                        $("#error").html(data.errors);
                        setTimeout(foo, 3000)
                    }
                }
            })
        })
    })
</script>
</html>