{% extends "personalManage.html" %}
{% block content %}
    <div>
        <strong> 编辑文章</strong>
    </div>
    <div>
        <form action="/backManage/editArticle/?id={{ article_id }}" method="POST" >
            {% csrf_token %}
            <label for="title">标题:</label>
            <p style="width: 900px">{{ form.title }}{{ form.errors.title.0 }}</p>
            <label for="">内容:</label>
            <p>
                {{ form.content }}{{ form.errors.content.0 }}
            </p>


            <p>
                个人分类:
                {{ form.category_id }}
            </p>

            <p>
                标签分类:
                {{ form.tag_ids }}
            </p>

            <p>
                网站分类:

                {{ form.siteArticleCategory_id }}
            </p>

            <p><input type="submit" value="保存修改" class="btn btn-primary"></p>
        </form>
    </div>

    <script>

        KindEditor.ready(function (K) {
            window.editor = K.create('#article_content', {
                width: '1100px',
                height: '400px',
                extraFileUploadParams: {
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                },
                uploadJson: "/backManage/uploadFile/"
            });
            {##}
            {#            var editor=K.create("article_content");#}
            {#            //获取html#}
            {#            var html=editor.html();#}
            {#            // 同步数据后可以直接取得textarea的value#}
            {#            editor.sync();#}
            {#            html=$("#article_content").val()#}
        });

    </script>
{% endblock content %}
