<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
 <div id="head">
      <div>欢迎来到伯乐园</div>
    </div>
<div class="container">

    <div class="row " id="firstdiv">
        <div class="col-md-8">
            <img src="/static/img/km.jpg" alt="" id="km">
        </div>
        <div class="col-md-4 pull-right" id="logindiv">
            <h3 class="login_text">用户登录</h3>
            <form>
                {% csrf_token %}
                <div class="form-group  out_div">
                    <label class="control-label" for="username">用户名</label>
                    <input type="text" class="form-control input_class" id="username" name="user"
                           aria-describedby="helpBlock2">
                    <span id="helpBlock1" class="help-block hide"></span>
                </div>
                <div class="form-group  out_div">
                    <label class="control-label" for="pwd">密码</label>
                    <input type="text" class="form-control input_class" id="pwd" name="pwd">
                    <span id="helpBlock2" class="help-block hide"></span>
                </div>

                <div class="form-group  out_div">
                    <div class="row ">
                        <div class="col-md-6 valid">
                            <label class="control-label" for="valid_Code">验证码</label>
                            <input type="text" id="valid_Code" class="form-control " name="valid_Code">
                        </div>

                        <div class="col-md-6 validate">
                            <img src="/get_valid_Code_img/" id="valid_img" alt="">
                        </div>
                    </div>


                </div>
                <button type="button" id="sub_btn" class="btn btn-primary">登录</button>
                <span id="error" style="color: red"></span>
            </form>

            <p>还没有账号去<a href="/reg/" style="color: #31b0d5">注册</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                忘记密码?<a href="/researchPassword/"  style="color: #31b0d5">找回密码</a></p>

            <p>{{ msg }}</p>
        </div>
    </div>
</div>
</body>
<script src="/static/jquery-3.2.1.min.js"></script>
<script>
    $(function () {
        $("#sub_btn").click(function () {
            function foo() {
                $('#error').html('')
            }

            $.ajax({
                url: '/login/',
                type: 'POST',
                data: {
                    name: $("#username").val(),
                    pwd: $('#pwd').val(),
                    valid_Code: $("#valid_Code").val(),
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                },
                success: function (data) {
                    data = JSON.parse(data);
                    if (!data['flag']) {
                        $("#error").html(data["msg"]);
                        setTimeout(foo, 3000)
                    } else {
                        window.location.href = '/'
                    }
                }
            })
        });

        $('#valid_img').click(function () {
          $(this)[0].src+='?'
        });
    })
</script>
</html>