.container {
    margin-top: 70px;

}

.userCenter {
    clear: both;
    overflow: hidden;
    padding: 0 0 30px 30px;
    display: block;
}

.userCenter .user_icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 20px;
    color: white;
    background: #48525e;
    margin-right: 14px;
}

.userCenter .user_icon .fa {
    color: #fff;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.userCenter .tit {
    font-size: 24px;
}

.register-progress {
    padding-left: 30px;
}

.register-progress {
    padding-left: 30px;
    overflow: hidden;
}

.hidden-sm {
    display: block !important;
}

.clearfix:after, .clearfix:before {
    display: table;
    content: " ";
}

.reg-orange-bar {
    clear: both;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    color: #fff;
    margin-right: 30px;
    padding: 0 20px;
    font-size: 16px;
    background: #ff9a66;
}

.clearfix:after, .clearfix:before {
    display: table;
    content: " ";
    clear: both;
}

.user-info ul li.text_left .password_left_txt {
    display: inline-block;
    width: 363px;
    text-align: right;
}


#userinfo {
    margin-top: 60px;
    margin-left: 250px;
}