{% extends "Dashboard.html" %}


{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">书籍列表</div>
        <div class="panel-body">

            <!-- 表格上面的按钮-->

            <div class="row my-table-tool">
                <div class="col-md-12">
                    <a href="/app01/addBook/">
                        <button class="btn btn-success" data-toggle="modal" data-target="#myModal">添加</button>
                    </a>
                </div>
            </div>

            <div class="table-responsive table-bordered">
                <table id="t1" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>书名</th>
                        <th>出版日期</th>
                        <th>价格</th>
                        <th>出版社</th>
                        <th>作者</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in BookList %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.publishDate|date:"Y-m-d" }}</td>
                            <td>{{ book.price }}</td>
                            <td>{{ book.publish.name }}</td>
                            <td>
                                {% for author in book.authors.all %}
                                    {{ author.name }}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="/app01/editBook/?id={{ book.id }}">
                                    <button class="btn btn-warning">编辑</button>
                                </a>
                                <a href="/app01/delBook/?id={{ book.id }}">
                                    <button class="btn btn-danger">删除</button>
                                </a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation" id="paging">
        <ul class="pagination">
        <li><a href="/app01/BookList/?page=1">首页</a></li>
            {% if BookList.has_previous %}
                <li>
                    <a href="/app01/BookList/?page={{ BookList.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for page in page_range %}
                {% if num == page %}
                    <li class="active"><a href="/app01/BookList?page={{ page }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="/app01/BookList?page={{ page }}">{{ page }}</a></li>
                {% endif %}


            {% endfor %}
            {% if BookList.has_next %}
                <li>
                    <a href="/app01/BookList/?page={{ BookList.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}

                <li class="disabled">
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}

        <li><a href="/app01/BookList/?page={{ pageNum }}">尾页</a></li>
        <li> <span>共{{ pageNum }}页</span></li>
        </ul>
    </nav>
{% endblock content %}