{% extends "Dashboard.html" %}

{% block content %}
    <div class="row" id="rowContent">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" action="/appClass/addClass/" method="post" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="Name" class="col-sm-2 control-label">班级名称:</label>
                    <div class="col-sm-10">
                      {{ form.caption }}{{ form.errors.caption.0 }}
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputPublish" class="col-sm-2 control-label">任课教师:</label>
                    <div class="col-sm-10">
{#                        <select name="teacher" id="" multiple >#}
{#                            {% for teacher in teachers %}#}
{#                                <option value="{{ teacher.id }}">{{ teacher.username }}</option>#}
{#                            {% endfor %}#}
{##}
{#                        </select>#}

                        {{form.teacher_ids}}

                    </div>
                </div>
                
                <div class="form-group">
                    <label for="inputPublish" class="col-sm-2 control-label">班主任:</label>
                    <div class="col-sm-10">
{#                        <select name="headmaster" id=""  >#}
{#                            {% for headmaster in headmasters %}#}
{#                                <option value="{{ headmaster.id }}">{{ headmaster.username }}</option>#}
{#                            {% endfor %}#}
{##}
{#                        </select>#}
                        {{ form.headmaster_id }}
                    </div>
                </div>
                


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



{% endblock content %}