<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <style>
        #firstdiv {
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row col-md-3 col-md-offset-4" id="firstdiv">
        <form action="/login/" method="post">
            {% csrf_token %}
        <div class="form-group  out_div">
            <label class="control-label" for="username">用户名</label>
            {{ form.username }}{{ form.errors.username.0 }}
            <span id="helpBlock1" class="help-block hide"></span>
        </div>
        <div class="form-group  out_div">
            <label class="control-label" for="pwd">密码</label>
            {{ form.password }}{{ form.errors.password.0 }}
            <span id="helpBlock2" class="help-block hide"></span>
        </div>
            <button type="submit" id="sub_btn" class="btn btn-primary" style="width: 255px">登录</button>
        </form>

        <p>{{ msg }}</p>
    </div>
</div>
</body>
<script src="/static/jquery-3.2.1.min.js"></script>

</html>